.container {
    padding: var(--spacing-xl) 0;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: var(--spacing-md);
    text-align: center;
    color: var(--color-primary);
    text-transform: uppercase;
}

.description {
    text-align: center;
    margin-bottom: var(--spacing-xl);
    color: var(--color-text-muted);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}